/* 언어 설정 */
@charset 'utf-8';


/* 전체 설정 */
*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none;
    color: black;}
img {border: none;
    vertical-align: bottom;}


/* 기본 설정 */
header {
    width: 100%;
    height: ;
}

section {}

    section:nth-child(1) {}

    section:nth-child(2) {}

    section:nth-child(3) {}

    section:nth-child(4) {}

    section:nth-child(5) {}

    section:nth-child(6) {}

    section:nth-child(7) {}

footer {}











.txtMove {
    width: 50%;
    background-color: beige;
    height: 500px;
    position: relative;}

.txtMove p{
    font-weight: bold;
    font-size:60px;
    position: absolute;}

    .txtMove p:nth-child(1) {
        left: 30%;
        top: 50px;
        animation:ani1 5s linear infinite}

    .txtMove p:nth-child(2) {
        right: 30%;
        top: 150px;
        animation:ani1 4s 1s linear infinite} 

    .txtMove p:nth-child(3) {
        left: 10%;
        top: 250px;
        animation:ani1 7s linear infinite}

@keyframes ani1 {
    0% {opacity: 0.2;
        transform: translateY(0), rotate(20deg);}
    100% {opacity: 0;
        transform: translateY(200px)  rotate(80deg);}}
