/* 언어 설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');



/* 전체 설정 */
*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none;
    color: #fff;}
img {border: none;
    vertical-align: bottom;}
body {font-family:'Noto Sans KR', sans-serif;
    /* font-family: 'EB Garamond', serif; */
    background-color: #111;}


/* 기본 설정 */
.page {}

header {
    width: 100%;
    height: 100px;
    background-color:cornflowerblue ;}

section {
    width: 100%;
    height: 1024px; /* 임시 설정*/
    border-bottom: #fff 1px solid;}

section:nth-child(7) {
    width: 100%;
    height: 4000px;}

footer {
    width: 100%;
    height: 500px;
    background-color: #555;}




/* 메인 상세 설정 */
/* --------- 헤더 설정 ------ */
header {}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;}

.wrap h1 {
    width: 30%;
    background-color: green;
    }

.wrap nav {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color:goldenrod;}

nav .util {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 30%;

    color: #fff;
    font-size: 15px;
    background-color:darkgreen;}

nav .util li {}

nav .gnb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
    color: #fff;
    font-size: 20px;
    background-color:darkolivegreen}

nav .gnb li {}





/* --------- 1. 메인섹션 설정 ------ */
.main {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;}

.main .btn {}

.main .txtBox {}

.main .txtBox>div {}

.main .imgBox {}

.main .imgBox ul {}

.main .imgBox li {}




/* --------- 2. 카테고리 설정 ------ */
.category {
    position: relative;
    background-image: url(../img/category\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;}

.category div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;}

    .circle1 {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 27%;
        top: 6%;
        border-radius:50% ;
        background-color: #fff;
        font-size: 22px;
        box-shadow: 0 0 30px 5px #d5b622;}

    .circle2 {
        position: absolute;
        width: 230px;
        height: 230px;
        left: 47%;
        top: 19%;
        border-radius:50% ;
        background-color: #fff;
        font-size: 33px;
        box-shadow: 0 0 30px 5px #d5b622;}

    .circle3 {
        position: absolute;
        width: 160px;
        height: 160px;
        left: 30%;
        top: 46%;
        border-radius:50% ;
        background-color: #fff;
        font-size: 25px;
        box-shadow: 0 0 30px 5px #d5b622;}

    .circle4 {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 45%;
        top: 64%;
        border-radius:50% ;
        background-color: #fff;
        text-align: center;
        font-size: 27px;
        box-shadow: 0 0 30px 5px #d5b622;}

    .circle5 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 17%;
        top: 78%;
        border-radius:50% ;
        background-color: #fff;
        font-size: 22px;
        box-shadow: 0 0 30px 5px #d5b622;}


.txtMove {
    width: 50%;
    height: 500px;}

.txtMove p{
    font-weight:normal;
    font-size:60px;
    color: #fff;
    text-shadow: 0 0 10px 2px #fff, ;
    position: absolute;}

    .txtMove p:nth-child(1) {
        font-size:120px;
        left: 65%;
        top: 30px;
        animation:ani1 5s 1s linear infinite}

    .txtMove p:nth-child(2) {
        font-size: 60px;
        left: 80%;
        top: 250px;
        animation:ani2 7s 0.5s linear infinite} 

    .txtMove p:nth-child(3) {
        left: 60%;
        top: 400px;
        animation:ani3 5s linear infinite}

    .txtMove p:nth-child(4) {
        font-size: 70px;
        left: 90%;
        top: 500px;
        animation:ani1 4s 1.5s linear infinite}

    .txtMove p:nth-child(5) {
        left: 75%;
        top: 600px;
        animation:ani1 5s 0.8s linear infinite}

    .txtMove p:nth-child(6) {
        left: 95%;
        top: 700px;
        animation:ani3 10s linear infinite}

    .txtMove p:nth-child(7) {
        font-size:40px;
        left: 58%;
        top: 800px;
        animation:ani2 8s linear infinite}

@keyframes ani1 {
    0% {opacity: 0.7;
        transform: translateY(0) /*, rotate(20deg)*/;} 
    100% {opacity: 0;
        transform: translateY(200px) /*rotate(80deg)*/;}}

@keyframes ani2 {
    0% {opacity: 0.7;
        transform: translateY(0), rotate(20deg);} 
    100% {opacity: 0;
        transform: translateY(300px) rotate(80deg);}}

@keyframes ani3 {
    0% {opacity: 0.7;
        transform: translateY(0), rotate(0deg);} 
    100% {opacity: 0;
        transform: translateY(100px) rotate(-30deg);}}




/* --------- 3. 체헝안내 설정 ------ */
.info {
    position: relative;
    overflow: hidden;
}

.info .half {
    position: absolute;
    width: 480px;
    height: 480px;
    right: -330px;
    top: 50%;
    margin-top: -230px;
    border-radius:50% ;
    background-color: #fff;
    font-size: 22px;
    box-shadow: 0 0 30px 5px #d5b622;
    z-index: 10;}

.info .imgBox {}

.info .imgBox ul {}

.info .imgBox li {}

    .pan {
        position: absolute;
        right: 0;
        top: -2%;
        z-index: 3;}

    .flower {
        position: absolute;
        left: 13%;
        top: 10%;
        width: 1300px;
        opacity: 0.4;
        z-index: 1;}

    .pattern {
        position: absolute;
        left: 3%;
        top: 65%;}

    .panline {
        position: absolute;
        width: 155px;
        right: -10px;
        top: 50%;
        margin-top: -200px;
        z-index: 50;}






/* --------- 4. 체험예약 설정 ------ */
.reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;}

.reservation .con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: 940px;
    border-radius:50% ;
    background-color: #fff;
    box-shadow: 0 0 30px 5px #d5b622;}

.reservation .con .imgBox {
    width: 300px;
    height: 500px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #999;
    overflow: hidden;}

.reservation .con img {
    width: 350px;
    transform: translateX(-20px);}




.reservation .con .formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin-left: 10px;
    overflow: hidden;}

.reservation .formBox h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;}

.reservation .formBox .img {
    text-align: center;}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;}

.select .time {
    width: 40%;}

.select .time h3 {
    margin-top: 25px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: solid 3px #111;}

.select .time p {
    font-size: 15px;
    border-bottom: solid 1px #111;
    padding: 5px 20px;}


.select .people {
    width: 40%;}

.select .people h3 {
    margin-top: 25px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: solid 3px #111;}

.select .people p {
    font-size: 10px;
    margin: 10px 0;}

.select .people .pm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;}

    .pm .minus {    
        color: #fff;
        font-size: 13px; 
        background-color: #999;
        border-radius: 4px;
        margin: 3px 5px;
        padding: 0 15px;}

    .pm .num {    
        color: #000;
        font-size: 15px; 
        padding: 0 15px;}

    .pm .plus {    
        color: #fff;
        font-size: 13px; 
        background-color: #222;
        border-radius: 4px;
        padding: 0 15px;}

.select .people .btn01 {
    display: flex;
    flex-direction: column;}

.select .people .btn01 a{
    display: block;
    color: #fff;
    font-size: 10px; 
    font-weight: 300;
    background-color: #222;
    border-radius: 6px;
    margin: 3px 0;
    padding: 7px 20px;}


.formBox .btn02 {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 15px; 
    background-color: #940e10;
    border-radius: 10px;
    margin:  20px;
    padding: 7px 0;}  




/* --------- 5. 층별안내 설정 ------ */
.floor {
    position: relative;
    background-image: url(../img/floor4.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;}

.floor h2 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10%;
    top: 10%;
    border-radius:50% ;
    background-color: #fff;
    box-shadow: 0 0 30px 5px #d5b622;}

    .floor>h2>p {
        text-align: center;
        line-height: 6.3;
        /* ???text-decoration: solid 100px #d5b622???;*/ }

.guideMap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;}

.guideMap .imgBox {
    position: absolute;
    z-index: 999;
    left: 18%;
    top: 13%;}

    .guideMap .imgBox .on {
        display: none;}



.guideMap .txtBox {
    position: absolute;
    right: 13%;
    top: 31%;
    color: #fff;
    z-index: 90;}

.guideMap .txtBox .flow {
    margin-left: -10px;
    margin-bottom: 40px;
    font-family: 'EB Garamond', serif;
    font-weight: 700;}

.guideMap .txtBox .flow li {
    font-weight:300;
    font-size: 30px;
    margin: 10px 0;
    padding: 5px 10px;
    border-bottom: #fff 1px solid ;}

    .guideMap .txtBox .flow li:nth-child(1) {
        color: #000;
        text-shadow: 0 0px 7px #d5b622;}



.guideMap .txtBox .location {
    margin-top: 40px;}

.guideMap .location p {
    font-weight:300;
    font-size: 20px;
    margin: 10px 0;}

.guideMap .location p span {
    display: inline-block;
    width: 15px;
    height: 15px;
    left: 90%;
    top: 10%;
    margin-right: 15px;
    border-radius: 10% ;
    border: #d5b622 1px solid;}

    .location p:nth-child(2) span {
        background-color: #d5b622;
        box-shadow: 0 0 7px 2px #d5b622;}

.guideMap .bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;}





/* --------- 6. 공지사항 설정 ------ */
.notice {
    position: relative;
    background-image: url(../img/notice.png);
    background-repeat: no-repeat;
    background-size: cover;}

.notice .moon {
    position: absolute;
    width: 130px;
    height: 130px;
    right: 10%;
    top: 8%;
    border-radius:50% ;
    background-color: #fff;
    box-shadow: 0 0 30px 5px #d5b622;}

.notice .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;}

    .notice .imgBox .polygon {
        width: 1000px;
        z-index: 100;}  
        
    .notice .imgBox .pattern01 {
        position: absolute;
        width: 500px;
        left: 15%;
        top: 1%;
        opacity: 0.5;
        z-index: 2;}
        
    .notice .imgBox .pattern02 {
        position: absolute;
        right: 23%;
        top: 65%;
        opacity: 0.5;
        z-index: 2;} 

    .notice .imgBox .bird01{
        position: absolute;
        left: 6%;
        top: 75%;
        opacity: 0.8;
        z-index: 2;}

    .notice .imgBox .bird02{
        position: absolute;
        left: 19%;
        top: 62%;
        opacity: 0.8;
        z-index: 2;}

.notice .con {
    position: absolute;
    left: 40%;
    top: 28%;
    z-index: 1000;}

.notice .con h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 1000;
    letter-spacing: -2px;
    /* text-decoration: 5px solid #8c603a; */
    margin-bottom: 20px;}

.notice .con ul {}

.notice .con li {
    font-weight: bold;
    letter-spacing: -1px;
    padding: 20px 20px;
    border-bottom: 2px solid #8c603a;
}





/* --------- 7. 오시는길 설정 ------ */
.road {
    height: 3000px;
    background-image: url(../img/road.png);
    background-repeat: no-repeat;
    background-size: cover;}

.road h2 {}

.road .wrap {}

.road .map {}

.road .txt {}