@charset 'utf-8';

/* 전체설정 */
* {margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}


/* 기본설정 */
header {
    width: 100%;
    height: 150px;
    background-color: #111;}

.main {
    width: 100%;
    height: 1080px;
    background-color: #333;}

.category {
    width: 100%;
    height: 1080px;
    background-color: #555;}

.rolling {
    width: 100%;
    height: 1080px;
    background-color: #777;}

.reservation {
    width: 100%;
    height: 1080px;
    background-color: #999;}

.floor {
    width: 100%;
    height: 1080px;
    background-color: #bbb;}

.notice {
    width: 100%;
    height: 1080px;
    background-color: #ddd;}

.recommand {
    width: 100%;
    height: 1080px;
    background-color: #fff;
}

.map {
    width: 100%;
    height: 1080px;
    background-color:darksalmon;
}

footer {
    width: 100%;
    height: 1080px;
    background-color:bisque;
}